* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.bar-info-container {
  background-color: red;
}
.bar-info {
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}
.bar-info div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}
.bar-info div:hover {
  height: 100%;
  background-color: rgb(193, 7, 7);
}
header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(14, 14, 33);
}

nav {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.nav-container-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container-buttons span {
  padding: 0 7px;
}

.add-product-button {
  cursor: pointer;
}

.container-complet {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(2px); */
  text-align: center;
  z-index: 1000;
}

.controls-form {
  width: 100%;
  height: 20px;
  text-align: right;
}
.controls-form span {
  font-size: 20px;
  cursor: pointer;
}

#form-update-belt {
  width: 50vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  border-radius: 12px;
}

.inputs-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.belt-image {
  width: 130px;
  height: 130px;
  border-radius: 240px;
  background-image: url("../src/images/belt.jpg");
  background-size: cover;
}

.inputs-form h4 {
  text-align: center;
}
.card {
  width: 400px;
  height: 400px !important;
  display: flex;
  align-items: center;
}

.disabled {
  display: none;
}

.table-container-belts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  min-width: 75vw;
  text-align: center;
  align-items: center;
  justify-content: space-between !important;
}

.header-tab th {
  text-align: center;
}

.header-tab th {
  text-align: center !important;
}
.add-excel-button {
  cursor: pointer;
}

footer {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span {
  width: 80%;
}

.logo {
  width: 200px;
  height: 50px;
  background-image: url("/src/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 0.7s;
}

.logo:hover {
  transform: scale(1.05);
  transition: 2s;
}

thead {
  background-color: red !important;
  color: white;
}

.delete-btn {
  color: rgba(128, 128, 128, 0.208);
  cursor: pointer;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.main-title {
  width: 75vw;
  text-transform: uppercase;
  font-size: 40px;
  color: #e62034;
}

.belt-container {
  text-transform: uppercase;
}

/* .stock-container::after {
  content: " disponibles";
} */
/* 
.price-container::before {
  content: "$";
} */
